# SPDX-License-Identifier: Apache-2.0
menu "Zephyr Kernel"
    source "Kconfig.zephyr"
endmenu

menu "Application Settings"

config APP_NETWORKING
    bool "Networking"
    default y
    help
        Enables networking within the system.


menu "Thread & CoAP Settings"
    config ENABLE_OT_SHELL
        bool "Enable CLI to interact with OpenThread"
        select CONFIG_OPENTHREAD_SHELL
        depends on CONFIG_SHELL

endmenu

endmenu